/*
* @Author: mac
* @Date:   2019-08-23 11:05:47
* @Last Modified by:   mac
* @Last Modified time: 2019-08-23 11:15:46
*/
.user-page-wrap{
    margin-bottom: 20px;
}


.form-item{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.label-item{
    display: inline-block;
    width: 100px;
    text-align: right;
}
.content-item{
    display: inline-block;
    width: 400px;
    padding-left: 40px;
} 