/*
* @Author: TomChen
* @Date:   2019-08-14 10:34:41
* @Last Modified by:   mac
* @Last Modified time: 2019-08-15 10:21:52
*/
.Login {
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3)
}
.Login .login-form-button{
	width: 100%;
}